[submodule "third-party/sdk/MODNet.git"]
	path = third-party/sdk/MODNet.git
	url = https://github.com/ZHKKKe/MODNet.git
[submodule "third-party/sdk/RobustVideoMatting.git"]
	path = third-party/sdk/RobustVideoMatting.git
	url = https://github.com/PeterL1n/RobustVideoMatting.git
